.example {
   border: 1px;
   border-color: black;
	font-family: verdana, arial, helvetica, sans-serif;

   background:#e3e3e3;color:#264409;border-color:#C6D880;
   padding:5px 0px 5px 5px;
   margin-bottom:5px;
   border:2px solid #ccc;
}

.normal {
   color: #000000;
   font-weight:bold;
}

.active {
   text-decoration: none;
   color: #005386;
   font-weight:bold;
}
