.jmesa {
	margin: 0;
	padding: 0;
}

.jmesa select {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 75px;
}

.jmesa .table {
	border: 1px solid silver;
	padding: 2px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	margin-top: 7px;
}

.jmesa .filter {
	background-color: #F4F4F4;
}

.jmesa .filter td {
	padding: 2px;
}

.jmesa .title {
	color: #444444;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}

.jmesa .titleRow {
	background-color: #F4F4F4;
}

.jmesa .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.jmesa .titleRow span {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.jmesa .filter input {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	border: solid 1px grey;
	padding: 1px;
}

.jmesa .filter select {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
}

.jmesa .header {
	background-color: #308dbb;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.jmesa .headerSort {
	background-color: #3a95c2;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.jmesa .odd a, .even a {
	color: Black;
	font-size: 10px;
}

.jmesa .odd td, .jmesa .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

.jmesa .odd {
	background-color: #FFFFFF;
}

.jmesa .even {
  	background-color: #dfe4e8;
}

.jmesa .highlight td {
	color: black;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.jmesa .highlight a, .highlight a {
	color: black;
	font-size: 10px;
}

.jmesa .compactToolbar {
	background-color: #F4F4F4;
}

.jmesa .toolbar {
	background-color: #F4F4F4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.jmesa .toolbar a:hover {
	background-color: transparent;
}

.jmesa .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.jmesa .separator {
	width: 7px;
}

.jmesa .statusBar {
	background-color: #F4F4F4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

.jmesa .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}

.jmesa .title span {
	margin-left: 7px;
}
